<div id="About">
  <div class="container-fluid about-container">
    <div class="row">
      <div class="col">
        <div class="image-box">
          <img class="image-profile" src="/assets/images/toon-me.png" alt="jess.png">
        </div>
      </div>
      <div class="col">
        <div class="info">
          <p>¡Hola! Me llamo Jess y me encanta dibujar. Tengo aproximadamente 10 años en el medio de la ilustración digital. </p>
          <p>Considero que mi estilo es muy cartoon con influencias del anime y glittery porque me encanta que sea muy brillante y vibrante. </p>
          <p>Actualmente estudio diseño gráfico y aspiro a ser tatuadora y tener mi propia marca de ropa. Me gusta pintarme el cabello e ir a conciertos.  </p>
        </div>
      </div>
    </div>
  </div>
</div>

