<div class="footer-container">
  <div class="blue-line">
    <img src="/assets/images/blue-bar.png" alt="">
  </div>

  <div class="contacto">
    <p>¡Sígueme en mis redes!</p>
    <div class="redes-sociales">
      <a href="https://www.facebook.com/MaglcSpells"><img src="/assets/images/logo-fb.png" alt="facebook-logo"></a>
      <a href="https://twitter.com/salemw1tch"><img src="/assets/images/logo-twitter.png" alt="twitter-logo"></a>
      <a href="https://www.instagram.com/maglcspells/"><img src="/assets/images/logo-ig.png" alt="instagram-logo"></a>
    </div>
  </div>
</div>
