<div class="container-fluid portafolio-container">
  <div class="row">
    <div class="col col-sm col-md col-lg col-xl">
      <div  class="image-box">
        <h3>Cuerpo Completo</h3>
        <img  class="image-portafolio" src="../../../assets/images/Cuerpo-completo.png" alt="">
        <p>COLOR PLANO $700 (Personaje extra +$350)</p>
        <p>SOMBREADO $1000 (Personaje extra +$500)</p>
      </div>
    </div>
    <div class="col col-sm col-md col-lg col-xl">
      <div class="image-box">
        <h3>Cuerpo Completo</h3>
        <img class="image-portafolio" src="../../../assets/images/Medio-cuerpo.png" alt="">
        <p>COLOR PLANO $700 (Personaje extra +$350)</p>
        <p>SOMBREADO $1000 (Personaje extra +$500)</p>
      </div>
    </div>
    <div class="col col-sm col-md col-lg col-xl">
      <div class="image-box">
        <h3>Cuerpo Completo</h3>
        <img class="image-portafolio" src="../../../assets/images/Busto.png" alt="">
        <p>COLOR PLANO $700 (Personaje extra +$350)</p>
        <p>SOMBREADO $1000 (Personaje extra +$500)</p>
      </div>
    </div>

    <div class="col col-sm col-md">
      <div class="image-box">
        <h3>Cuerpo Completo</h3>
        <img class="image-portafolio" src="../../../assets/images/Retrato.png" alt="">
        <p>COLOR PLANO $700 (Personaje extra +$350)</p>
        <p>SOMBREADO $1000 (Personaje extra +$500)</p>
      </div>
    </div>
    <div class="col col-sm">
      <div class="image-box">
        <h3>Cuerpo Completo</h3>
        <img class="image-portafolio" src="../../../assets/images/Hora-de-aventura.png" alt="">
        <p>COLOR PLANO $700 (Personaje extra +$350)</p>
        <p>SOMBREADO $1000 (Personaje extra +$500)</p>
      </div>
    </div>
    <div class="col col-sm">
      <div class="image-box">
        <h3>Cuerpo Completo</h3>
        <img class="image-portafolio" src="../../../assets/images/Emotes.png" alt="">
        <p>COLOR PLANO $700 (Personaje extra +$350)</p>
        <p>SOMBREADO $1000 (Personaje extra +$500)</p>
      </div>
    </div>
  </div>
</div>
