<div class="header-container">
  <div class="header-bar">
    <div class="paletas-container">
      <div class="paletas-image"></div>
    </div>
  </div>
</div>

<div class="menu-container">
  <div class="menu-bar">
    <div class="menu-options">
      <div>
        <img src="../../../assets/images/estrellita.png" alt="">
        <a [routerLink]="['/portafolio']">Portafolio</a>
        <img src="../../../assets/images/estrellita.png" alt="">
      </div>
      <div>
        <img src="../../../assets/images/estrellita.png" alt="">
        <a [routerLink]="['/sobre-mi']">Sobre mí</a>
        <img src="../../../assets/images/estrellita.png" alt="">
      </div>
      <div>
        <img src="../../../assets/images/estrellita.png" alt="">
        <a [routerLink]="['/comisiones']">Comisiones</a>
        <img src="../../../assets/images/estrellita.png" alt="">
      </div>
    </div>
  </div>
</div>
