<div class="container-fluid portafolio-container">
  <div class="row">
    <div class="col col-sm col-md">
      <div  class="image-box">
        <img  class="image-portafolio" src="../../../assets/images/PrincessBri.png" alt="">
      </div>
    </div>
    <div class="col col-sm col-md">
      <div class="image-box">
        <img class="image-portafolio" src="../../../assets/images/fairy.png" alt="">
      </div>
    </div>
    <div class="col col-sm col-md">
      <div class="image-box">
        <img class="image-portafolio" src="../../../assets/images/plushie.png" alt="">
      </div>
    </div>

    <div class="col col-sm col-md">
      <div class="image-box">
        <img class="image-portafolio" src="../../../assets/images/kirby.png" alt="">
      </div>
    </div>
    <div class="col col-sm">
      <div class="image-box">
        <img class="image-portafolio" src="../../../assets/images/unicorn.png" alt="">
      </div>
    </div>
    <div class="col col-sm">
      <div class="image-box">
        <img class="image-portafolio" src="../../../assets/images/Ritual.png" alt="">
      </div>
    </div>
  </div>
</div>


